
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Portfolio</title>
    @Styles.Render("~/Content/css")
    @Styles.Render("~/Content/Champselect.css")
    @Scripts.Render("~/bundles/modernizr")

</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("Portfolio", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li>@Html.ActionLink("Home", "Index", "Home")</li>
                    <li>@Html.ActionLink("About", "About", "Home")</li>
                    <li>@Html.ActionLink("Contact", "Contact", "Home")</li>
                    <li>@Html.ActionLink("Champion Select", "ChampionSelect", "Home")</li>
                </ul>
                @Html.Partial("_LoginPartial")
            </div>
        </div>
    </div>
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <div class="col-md-8" id="credits"><p>&copy; @DateTime.Now.Year - Aleksey Miakushko. Portfolio.</p></div>

            <div class="col-md-4">
                <p>
                    <button onclick="TogetherJS(this); return false;" class="btn btn-default">Start TogetherJS</button>
                    <button onclick="switchTheme()" class="btn btn-default">Switch Theme</button>
                </p>
            </div>
            
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @Scripts.Render("~/scripts/champGrid.js")
    @Scripts.Render("~/scripts/search.js")
    @Scripts.Render("~/scripts/pickBanStages.js")
    @Scripts.Render("~/scripts/pickBan.js")
    @Scripts.Render("~/scripts/changeTheme.js")
    @Scripts.Render("https://togetherjs.com/togetherjs-min.js")
    @RenderSection("scripts", required: false)
</body>
</html>
